/* Regular */

@font-face {
    font-family: 'Proxima Nova';
    src: url('proximanova-reg.woff2') format('woff2'),
         url('proximanova-reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('proximanova-reg.woff2') format('woff2'),
         url('proximanova-reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('proximanova-reg.woff2') format('woff2'),
         url('proximanova-reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Light */

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('ProximaNova-Light.woff2') format('woff2'),
         url('ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('ProximaNova-Light.woff2') format('woff2'),
         url('ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
